body{
    font-size: 16px;
}
.container-detalhes{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    @media (min-width: 768px){
        flex-direction: row;
        justify-content: space-evenly; 
        margin-top: 100px;
    }
}
.detalhes-produto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    @media (min-width: 768px){
        width: 30%;
    }
}
.preco{
    font-size: 1.5em;
    font-weight: bold;
}

.comprar{
    border: 1px solid #acacac;
    height: 30px;
    border-radius: 6px;
    color: #3e3e3e;
}
.comprar:hover{
    border: 1px solid black;
    color: black;
}
.capsula-img{
    width: 100%;
    overflow: hidden;
    height: 300px;
    @media(min-width: 768px){
        width: 500px;
        height: auto;
    }
}
.img-produto{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
